/* color hex codes

dark purple: #998FC7
light purple: #B6A0E5
lightest purple: #D4C2FC
text (navy): #102E4A
red icon color: #930E0E

*/


body {
    background-color: #B4E3B3;
    color: #102E4A;
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Gill Sans, sans-serif;;
  
}

.topnav {
    background:#5B8C58;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover {
    background-color: #EFE4B0;;
    color: #102E4A;
  }

.topnav-right {
    float: right;
  }

a:hover {
	color:#f2f2f2;
}
.button {
    width : 80px;
    padding : 3px;    
    font-size: 16px;
    font-family: Gill Sans, sans-serif;
    margin : 5px;
    padding : 5px;
    border: 1px solid #f2f2f2;
}
.button:hover {
    background-color: #f2f2f2;
    color: #102E4A;
    cursor: pointer;
}

.img {
    width: 190px;
    height: 200px;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.booktable { 
    width : 100%;
    margin: 0px;
    background-image: url("..//images//testBBackround.png");
}

.postbooktitle {
    text-align: left;
    font-weight: lighter;
    font-family: Gill Sans, sans-serif;
	font-size: 14px;
    padding: 2px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    font-family: Gill Sans, sans-serif;
	font-size: 18px;
    padding: 2px;
}

.posttimestamp {
    text-align: left;
    font-family: Gill Sans, sans-serif;
	font-size: 12px;
    font-weight: lighter;
    padding: 2px;
    margin-left: 5%;
    
}

.postmessage {
    text-align: left;
    font-family: Gill Sans, sans-serif;
	font-size: 16px;
    padding: 2px;
    margin-left: 5%;
    margin-right: 5%;
}

.likecount {
    text-align: center;
    font-family:  Gill Sans, sans-serif;
    font-weight: bold;
	font-size: 20px;
    padding: 2px;
}

.formtitle{
    text-align: left;
    font-family: Gill Sans, sans-serif;
	font-size: 16px;
    padding: 2px;
    width: 400px;
}

.formbody{
    text-align: left;
	padding: 2px;
	font-family: Gill Sans, sans-serif;
	font-size: 18px;
	width: 400px;
}

.formselect{
    text-align: left;
	padding: 2px;
	font-family: Gill Sans, sans-serif;
	font-size: 18px;
	width: 200px;
}

.forminput{
    text-align: left;
	padding: 2px;
	font-family: Gill Sans, sans-serif;
	font-size: 18px;
	width: 50%;
}

.useritem{
    text-align: center;
    font-weight: bold;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: #930E0E; 
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//images//heart.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
} 
.likebtn:hover {
    background-image: url("..//images//heart_hover.png");
    cursor:pointer;
}

.flash-container{
	background: #99C5EE;
	font-family: Gill Sans, sans-serif;
	font-size: 16px;
	padding: 25px;
	margin: 10px 0px 10px 0px;
}

.postlist{
    display: flex;
    flex-wrap: wrap;
}

.postbox{
    display: flex; 
    vertical-align: middle;
    background-color: #EFE4B0;
    border: 2px solid #CFC598;
    font-family: Gill Sans, sans-serif;
    width: 33%;
    margin: 5px 5px 5px 5px;
}
@media screen and (min-width: 800px) and (max-width:1200px){
    .postbox{
        display: flex; 
        vertical-align: middle;
        background-color: #EFE4B0;
        border: 2px solid #CFC598;
        font-family: Gill Sans, sans-serif;
        width: 47%;
        margin: 5px 5px 5px 5px;
    }
}
@media screen and (max-width:800px){
    .postbox{
        display: flex; 
        vertical-align: middle;
        background-color: #EFE4B0;
        border: 2px solid #CFC598;
        font-family: Gill Sans, sans-serif;
        width: 100%;
        margin: 5px 5px 5px 5px;
    }
}
@media screen and (min-width: 1200px){
    .postbox{
        display: flex; 
        vertical-align: middle;
        background-color: #EFE4B0;
        border: 2px solid #CFC598;
        font-family: Gill Sans, sans-serif;
        width: 30%;
        margin: 5px 5px 5px 5px;
    }
}

.book-box{
    display: flex; 
    vertical-align: middle;
    background-image: url("..//images//testBBackround.png");
    font-family: Gill Sans, sans-serif;
    width: 16%;
    margin: 5px 5px 5px 5px;
}
@media screen and (min-width: 800px) and (max-width:1200px){
    .book-box{
        display: flex; 
        vertical-align: middle; 
        background-image: url("..//images//testBBackround.png");
        font-family: Gill Sans, sans-serif;
        width: 48%;
        margin: 5px 5px 5px 5px;
    }
}
@media screen and (max-width:800px){
    .book-box{
        display: flex; 
        vertical-align: middle;
        background-image: url("..//images//testBBackround.png");
        font-family: Gill Sans, sans-serif;
        width: 50%;
        margin: 5px 5px 5px 5px;
    }
}
@media screen and (min-width: 1200px){
    .book-box{
        display: flex; 
        vertical-align: middle;
        background-image: url("..//images//testBBackround.png");
        font-family: Gill Sans, sans-serif;
        width: 24%;
        margin: 5px 5px 5px 5px;
    }
}

.genreitem{
    text-align: center;
    font-size: small;
    margin: 2px 2px;
    padding: 3px;
    border: 1px solid #f2f2f2;
    background-color: #AD0508;
    color: #f2f2f2

}

