<table class = "posttable" style = "width:100%" valign="top">
        <tr> 
            {{review.book}}

            <td colspan="3"><div class="posttitle"> {{review.title}} </div>
            <td colspan="3"><div class="postbooktitle"> {{review.book}} </div>
            </td>
        </tr>
        <tr>

            <td width="80%" >
                <div class="postmessage">

                  {{ review.body }}

               </div>
               <div class="posttimestamp"> 
                  Posted at: {{ reviews.timestamp }}
               </div> 
            </td> 

            <td width = "5%"> 
                <div class="likecount">

                    <br>
                    {{ review.likes }}
                    
                </div>
                <br> 
            </td>
        </tr>
        
        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>

            </td>
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>

              </td>
            </tr>
        </tr>)
    </table>