<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td 
            colspan="3"><div class="posttitle"><br> {{review.title}} </div>                         
        </td>
    </tr>

    <tr>
        <td colspan="3" style = "text-align:center" valign="bottom">
            <div class="postmessage"> {{ review.body }}</div>
        </td> 
    </tr>

    <tr>
        <td colspan="3" style="text-align:right" width="50%" valign="bottom">
            <div class="likecount">
                <br><br>
                <form  action="{{url_for('routes.like', review_id = review.id, book_id=book.id)}}" method="post" > 
                    {{ review.likes }} 
                <input class="likebtn" type="submit" value="" > 
                </form>
                                
            </div>
        </td>
    </tr>
                    
    <tr> 
        <td colspan="3" style = "text-align:center" valign="bottom">  
            <div class="posttimestamp"> 
            Posted at: {{ review.timestamp }}
            <br>
            <br> 
        </div>
        </td>
    </tr>

</table>



    