<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

<div class ="postbox">
    <table class = "posttable" style = "width:100%" valign="top">
        <tr> 
            <td colspan="3" ><div class="posttitle"> {{book.title}}  </div>
            </td>
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div> <br> 
                    By {{ book.author }} ({{book.year}}) </div>
            </td> 
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div> <br> 
                    {% if book.cover %}
                        <img src="{{ url_for('static', filename=book.cover.replace('\\', '/')) }}" class="img">
                    {% endif %}
            </td> 
        </tr>

        
        <td width="80%" >
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
            <div class="posttimestamp"> 
                <br>
                Suggested at: {{ book.timestamp }}
            </div> 
            </td>
        </tr>

        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                {% for genre in book.getGenres() %}
                    <a class="genreitem" > {{ genre.genres.name }} </a>
                {% endfor %}
            </td>
        </tr>

        
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div> <br> 
                    Suggested by {{ book.suggested_by }} </div>
            </td> 
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div class="sbottom">
                    <a  href="{{ url_for('routes.acceptSuggestion', suggestion_id = book.id) }}" > Accept </a>
                
                    <a href="{{ url_for('routes.editSuggestion', suggestion_id = book.id) }}" class="newbutton"> Edit </a>
            
                    <a href="{{ url_for('routes.deleteSuggestion', suggestion_id = book.id) }}" class="newbutton"> Delete </a>
                </div>
            </td> 
        </tr>

    </table>
    <br>
</div>

<br>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

<a href="{{url_for('routes.adminSuggestions')}}" class = "button"> Return to suggestions page </a>
