<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

<div class ="book-box">
    <table class = "booktable" style = "width:100%" valign="top">
        <tr> 
            <br>
            <td colspan="3" ><div class="posttitle"> <br><br><br><br>{{book.title}}  </div>
            </td>
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div> 
                    By {{ book.author }} ({{book.year}}) </div>
            </td> 
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div> <br> 
                    {% if book.cover %}
                        <img src="{{ url_for('static', filename=book.cover.replace('\\', '/')) }}" class="img">
                    {% endif %}
            </td> 
        </tr>

        
        <td width="80%" >
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
            <div class="posttimestamp"> 
                Posted at: {{ book.timestamp }}
            </div> 
            </td>
        </tr>
            
        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom">  
                Post by: {{book.posted_by}}
                <span class="useritem"> ... </span>
            </td>
            </tr>
        </tr>

        <tr> 
            <td colspan="3" style = "text-align:center" valign="bottom">  
                <br>
                {% for genre in book.getGenres() %}
                    <a class="genreitem" href="{{url_for('routes.roster', genre_id=genre.genres.id)}}"> {{ genre.genres.name }} </a>
                {% endfor %}
            </td>
        </tr>

        <tr>
            <td colspan="3" style = "text-align:center" valign="bottom"> 
                <div>
                    <br>
                    <a  href="{{ url_for('routes.acceptSuggestion', suggestion_id = book.id) }}" class="acceptButton"> Accept </a>
                    <a href="{{ url_for('routes.editSuggestion', suggestion_id = book.id) }}" class="viewButton"> Edit </a>
                    <a href="{{ url_for('routes.deleteSuggestion', suggestion_id = book.id) }}" class="deleteButton"> Delete </a>
                    <br>
                </div>
                
                
            </td> 
        </tr>
        
    <tr> <br> </tr>
    <tr> <br> </tr>
    <tr> <br> </tr>
    <tr> <br> </tr>
    </table>
    <br>
</div>

<br>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 

<a href="{{url_for('routes.adminSuggestions')}}" class = "button"> Return to suggestions page </a>
