<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td colspan="3" style = "text-align:center" valign="bottom" >
            <div class="posttitle"> <br> {{book.title}}  </div>
        </td>
    </tr>

    <tr>
        <td colspan="3" style = "text-align:center" valign="bottom"> 
            <div> Suggested by {{ book.suggested_by }} </div>
        </td> 
    </tr>

    <tr>
        <td colspan="3" style = "text-align:center" valign="bottom"> 
            <br> 
            <a href="{{ url_for('routes.viewSuggestion', suggestion_id = book.id) }}" class="viewButton"> View </a>
            <a href="{{ url_for('routes.acceptSuggestion', suggestion_id = book.id) }}" class="acceptButton"> Accept </a>
            <a href="{{ url_for('routes.deleteSuggestion', suggestion_id = book.id) }}" class="deleteButton"> Delete </a>
            
        </td>
    </tr>

    <tr> <br> </tr>
    <tr> <br> </tr>
    <tr> <br> </tr>
    <tr> <br> </tr>
    
</table>


