<html>
    <head>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
       <style>
        h1 {text-align: center;}
       </style>
    </head>

    <body>
        <div class ="topnav">
                <a href="{{ url_for('routes.index') }}"> Home </a>
                {% if current_user.user_type=="Admin" %}
                    <a href="{{url_for('routes.addbook')}}"> Add Book </a>
                    <a href="{{url_for('routes.adminSuggestions')}}" > Suggestions </a>
                {% elif current_user.user_type=="Reg_User" %}
                    <a href="{{ url_for('routes.suggestbook') }}"> Add Book </a>
                {% endif %}
                <div class="topnav-right">
                    
                    {% if current_user.is_anonymous %}
                        <a href="{{ url_for('auth.login') }}" > Login </a>
                    {% else %}
                        <a href="{{ url_for('auth.logout') }}"> Logout </a>
                        <a href="{{ url_for('auth.display_profile') }}" > Profile </a>
                    {% endif %}
                    
                </div>

        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

        

    </body>
</html>