<html>
    <head>
       {% if title %}
          <title>{{ title }} - Book App </title>
       {% else %}
          <title> Welcome to Book App! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                <br>
                <td><a href="{{ url_for('routes.index') }}" class = "button">Home</a></td>
                {% if current_user.user_type=="Admin" %}
                    <td><a href="{{url_for('routes.addbook')}}" class = "button"> Add Book </a></td> 
                    <td><a href="{{url_for('routes.adminSuggestions')}}" class = "button"> Suggestions </a></td> 
                {% elif current_user.user_type=="Reg_User" %}
                    <td><a href="{{ url_for('routes.suggestbook') }}" class="button"> Suggest Book </a></td>
                {% endif %}
                {% if current_user.is_anonymous %}
                    <td><a href="{{ url_for('auth.login') }}" class="button"> Login </a></td>
                {% else %}
                    <td><a href="{{ url_for('auth.logout') }}" class="button"> Logout </a></td>
                    <td><a href="{{ url_for('auth.display_profile') }}" class="button"> Profile </a></td>
                {% endif %}
                <td> 
                    Current user is: <span class="useritem"> {{ current_user.username }} </span> 
                    {% if current_user.user_type == "Admin" %}
                        : Admin
                    {% endif %}
                </td>  
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>