{% extends "base.html" %}

{% block content %}
    <h1> Display Student Profile</h1>
    <h2> User username: {{user.username}}</h2>
    <p> <b>Email:</b> {{user.email}}</p>
    
    {% if user == current_user %}
        <p> <a href="{{ url_for('auth.edit_profile') }}"> Edit your profile </a></p>  
    {% endif %}

    {%  if user.reviews.count() == 0 %}
    <div class="postbox"> 
        <h1> No Reviews Yet </h1>
    </div>

    {%else%}

        <h1> {{ user.username }}'s Reviews</h1>
        {% for review in user.reviews %}
            <div class="postbox">
                <table class = "posttable" style = "width:100%" valign="top">
                        <tr> 

                            <td colspan="3"><div class="posttitle"> {{review.title}} </div>
                            </td>
                        </tr>
                        <tr>

                            <td width="80%" >
                                <div class="postmessage">

                                {{ review.body }}

                            </div>
                            <div class="posttimestamp"> 
                                Posted at: {{ review.timestamp }}
                            </div> 
                            </td> 

                            <td width = "5%"> 
                                <div class="likecount">

                                    <br>
                                    {{ review.likes }}
                                    
                                </div>
                                <br> 
                            </td>
                        </tr>
                        
                        <tr> 
                            <td colspan="3" style = "text-align:center" valign="bottom">  
                                <br>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="3" style = "text-align:center" valign="bottom">  
                                <br>

                            </td>
                            </tr>
                        </tr>

                </table>
            </div>

        {% endfor %}

    {%  endif %}
{% endblock %}